body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
  background-color: #696969; 
  color: #ffffff;
}
.bg-2 { 
  background-color: #474e5d; 
  color: #ffffff;
}
.bg-3 { 
  background-color: #98B4D4; 
  color: #555555;
}
.bg-4 { 
  background-color: #FFFFFF; 
  color: #fff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

/**NAVIGATION BAR DESIGN**/

.navbar {
  padding-top: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 3px;
  background-color: #FFFFFF; 
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}

.navbar-nav li img {
  width: 80px;
  bottom: 36px;
  padding: 12px 15px;
  bottom: 27px;
  right: 22px;
  position: relative;
  
  
}

/**LOGO DESIGN**/

.navbar-brand img {
    padding: 12px 15px;
    width: 110px;
    height: 80px;
    position: relative;
    bottom: 36px;
}




 /**CAROUSELL DESIGN**/

.carousel-inner img {
    margin: auto;
    width: 600px;
    height: 200px;
  }



